<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Form/Table</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body class="font-sans bg-gray-100">

    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table class="min-w-full text-left text-sm font-light">
                        <thead class="border-b font-medium dark:border-neutral-500">
                        <tr>
                            <th scope="col" class="px-6 py-4">#</th>
                            <th scope="col" class="px-6 py-4">First</th>
                            <th scope="col" class="px-6 py-4">Last</th>
                            <th scope="col" class="px-6 py-4">Handle</th>
                        </tr>
                        </thead>
                        <tbody id="dataTableBody">
                        <!-- Add table rows here dynamically using JavaScript -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  


    <script src="static/js/app.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.write('<script src="http://' +
                (location.host || 'localhost').split(':')[0] +
                ':35729/livereload.js?snipver=1"></' +
                'script>');
        });
    </script>
    
</body>
</html>
